@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html, body{
    margin: 0;
    padding: 0;
}
*{
    font-family: 'Dosis', 'sans-serif';
}
nav{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 102px;
    background: rgb(150, 4, 4);
}
.logoSite{
    float: left;
    width: 102px;
}
/* configuração navegação */
nav a{
    display: block;
    width: auto;
    height: 29px;
    padding: 16px;
    float: left;
    line-height: 71px;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 900;
    font-size: larger;
    font-style: inherit;
}

/* regras dos conteúdos */
main{
    padding: 110px 10px;
}

.homeArticle{
    width: 42%;
    background: rgb(223, 212, 212);
    margin: 15px 2%;
    border-radius: 10px; 
    box-shadow: 0px 0px 7px 0px #000000;
    padding: 15px;
    display: inline-block;
    min-height: 187px;
}
.homeArticle img{
    float: left;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 25px;
}
.homeArticle h2{
    font-size: 15px;
    text-transform: uppercase;
    color: rgb(150, 4, 4);
}
.homeArticle p{
    font-style: italic;
    min-height: 72px;
}
.homeArticle a{
    width: 100px;
    display: block;
    position: relative;
    float: right;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: rgb(150, 4, 4);
    border-radius: 10px;
}
.homeArticle a:hover{
    background: rgb(224, 1, 1);
    box-shadow: 0px 0px 7px 0px #000000;
    padding: 6px;
    border-radius: 15px;
    transition:
    0.15s padding ease-out,
    0.15s border ease-out;
}

/* estilos do carousel */
.carousel{
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}
.carousel li{
    height: 175px;
    width: 300px;
    list-style: none;
    display: inline-block;
    margin: 0 1%;
}
.carousel li img{
    width: 100%;
}
footer{
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    background: rgb(150, 4, 4);
}
footer span{
    display: inline-block;
    width: 48%;
    padding: 10px;
    color: #fff;
}
footer .direitos {
    text-align: left;
}
footer .direitos a{
    color: #fff;
}
footer .assinatura{
    text-align: right;
}
footer .assinatura a{
    color: #fff;
    text-decoration: none;
}
footer .assinatura a:hover{
    text-decoration: underline;
    background-size: 15%;
}